<div class="bg-linear-to-b from-slate-950 to-slate-900 h-dvh overflow-hidden flex justify-center items-center">

    <div class="bg-slate-100 p-5 rounded-2xl shadow-2xl">

        <h1 class="font-light text-4xl text-shadow-2xs font-[Impact]">Bienvenido a VFM System
        </h1>

        <h3 class="font-semibold text-2xl text-shadow-2x text-center pt-5">Registrarse</h3>

        <div class="flex flex-col pt-5 gap-4">

            <div class="flex flex-col">

                <label for="username" class="pl-2 text-sm font-bold text-slate-950">Nombre de usuario</label>
                <input type="text" id="username" class="rounded-2xl border border-slate-950 py-1 px-2"
                    placeholder="ingresar usuario">

            </div>

            <div class="flex flex-col">

                <label for="password" class="pl-2 text-sm font-bold text-slate-950">Contraseña</label>
                <input type="password" id="password" class="rounded-2xl border border-slate-950 py-1 px-2"
                    placeholder="ingresar contraseña">

            </div>

            <small>¿Aún no tienes una <a href="register" class="text-sky-600">cuenta</a>?</small>

            <button type="submit" class="px-3 py-1.5 bg-sky-700 rounded-2xl text-white cursor-pointer">Iniciar
                sesión</button>

        </div>

    </div>

</div>